
<div class="title_left" >
    <h3>Danh sách Danh mục</small></h3>
</div>
<div class="x_panel" xmlns:th="http://www.thymeleaf.org">
    <button type="button" class="btn btn-info waves-effect" onclick="location.href='/admin/invoice_import/new'">Đăng
        ký mới
    </button>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>total</th>
                        <th>Date Import</th>
                        <!--<th class="col-sm-1">Edit</th>-->
                        <!--<th class="col-sm-1">Delete</th>-->

                    </tr>
                    </thead>
                    <tbody>
                    <!--/*@thymesVar id="list" type="java.util.List<thn.vn.web.miav.shop.models.entity.Import>"*/-->
                    <tr th:each="item:${list}">
                        <!--/*@thymesVar id="item" type="thn.vn.web.miav.shop.models.entity.Import"*/-->
                        <td ><a th:onclick="|loadPopup('/admin/invoice_import/detail/${item.id}')|" th:text="${item.id}"></a> </td>
                        <td th:text="${'$'+#numbers.formatInteger(item.total,3,'COMMA')}"></td>
                        <!--<td th:text="${#temporals.format(#myDialect.parseISODate(item.dateImport),'dd-MM-yyyy')}"></td>-->
                        <td>
                        <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyyMMdd')}">
                            <p th:text="${#dates.format(sdf.parse(item.dateImport), 'dd/MM/yyyy')}" />
                        </th:block>
                        </td>
                        <!--<td>-->
                            <!--<button class="btn btn-primary btn-xs" data-toggle="modal"-->
                                    <!--th:onclick="|loadDynamicContentModal(${item.productId})|"><span-->
                                    <!--class="glyphicon glyphicon-pencil"></span></button>-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--<button class="btn btn-danger btn-xs" data-toggle="modal"-->
                                    <!--th:onclick="|confirmDelete(${item.productId})|"><span-->
                                    <!--class="glyphicon glyphicon-trash"></span></button>-->
                        <!--</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true"></div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you
                    want to delete this Record?
                </div>

            </div>
            <div class="modal-footer ">
                <button type="button" id="deleteItem"  class="btn btn-success"><span class="glyphicon glyphicon-ok-sign"></span> Yes
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span
                        class="glyphicon glyphicon-remove"></span> No
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->

</div>
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
</div>
<script>
    function loadPopup(url) {
        var $modal = $('#popup');
        $modal.modal('show');

        $.ajax({
            url: url,
            success: function (result) {
                $("#popup").html(result);
            }

        })

    }
    function loadDynamicContentModal(id) {
        window.location.href = "/admin/brand/update/"+id;
    }
    function confirmDelete(id) {
        var $modal = $('#delete');
        $modal.modal('show');
        $('#deleteItem').on('click', function (event) {
            $.ajax(
                {
                    url: '/admin/price/del/' + id, success: function (result) {
                        $("#content").html(result);
                        $('.modal-backdrop').remove();
                    }
                }
            )
        });
    }

</script>