<div class="modal-dialog" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                    class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Chọn sản phẩm</h4>
        </div>
        <div class="modal-body">
            <table class="table table-striped jambo_table bulk_action table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Select</th>
                    <th>More</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="list" type="java.util.List<thn.vn.web.miav.shop.models.entity.StoreHouseDetail>"*/-->
                <tr th:each="item:${list}">
                    <!--/*@thymesVar id="item" type="thn.vn.web.miav.shop.models.entity.StoreHouseDetail"*/-->
                    <td th:text="${item.id}"></td>

                    <td th:text="${item.name}"></td>
                    <td>
                        <button th:onclick="|treeSelect('${item.id}')|" type="button"  data-dismiss="modal" class="btn btn-info waves-effect" id="select_item" th:value="${item.name}">Select
                        </button>
                    </td>
                    <td><div th:if="${item.isParent}==1">
                        <a th:onclick="|loadPopupTree('/admin/storehouse_detail/tree/${item.id}')|" ><i class="fa fa-angle-right" style="font-size: 30px;"></i></a>
                    </div>
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button  type="button"  data-dismiss="modal" class="btn btn-info waves-effect" >close
            </button>
        </div>
    </div>
</div>