<div class="modal-dialog" xmlns:th="http://www.thymeleaf.org" id="content_print">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                    class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <h4 class="modal-title custom_align" id="Heading">Chọn sản phẩm</h4>
        </div>
        <div class="modal-body">
            <table class="table table-striped jambo_table bulk_action table-bordered">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá nhập</th>
                    <th>Số lượng</th>
                    <th style="text-align: right">total Money</th>
                    <!--<th>Select</th>-->
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="list" type="java.util.List<thn.vn.web.miav.shop.models.entity.Import>"*/-->
                <tr th:each="item:${list}">
                    <!--/*@thymesVar id="item" type="thn.vn.web.miav.shop.models.entity.Import"*/-->
                    <td th:text="${item.no}"></td>

                    <td th:text="${item.productName+' ('+item.productNameSecond+')'}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.amount}"></td>
                    <!--<td th:text="${item.totalMoney}"></td>-->
                    <td th:text="${'$'+#numbers.formatInteger(item.totalMoney,3,'COMMA')}" style="text-align: right"></td>
                    <!--<td>-->
                        <!--<button th:onclick="|selectItem('${item.name+' ('+item.nameSecond+')'}','${item.id}','${item.priceRoot}',0)|" type="button"  data-dismiss="modal" class="btn btn-info waves-effect" id="select_item" th:value="${item.name}">Select-->
                        <!--</button>-->
                    <!--</td>-->
                </tr>
                <tr>
                    <td colspan="4" style="text-align: right"> Total:</td>
                    <!--<td th:text="${total}"></td>-->
                    <td th:text="${'$'+#numbers.formatInteger(total,3,'COMMA')}" style="text-align: right"></td>
                </tr>
                <tr>
                    <td colspan="5" ><button class="btn btn-default" onclick="printBill()"><i class="fa fa-print"></i> Print</button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button  type="button"  data-dismiss="modal" class="btn btn-info waves-effect" >close
            </button>
        </div>
    </div>
</div>