
<div class="">

    <div class="row" xmlns:th="http://www.thymeleaf.org">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Đăng ký danh mục sản phẩm</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--/*@thymesVar id="formData" type="thn.vn.web.miav.shop.models.entity.Attributes"*/-->
                    <!--/*@thymesVar id="attribute" type="thn.vn.web.miav.shop.models.entity.Attributes"*/-->
                    <form class="form-horizontal form-label-left" action="#" th:action="@{/admin/attributes/new}"
                          th:object="${formData}" method="post" >
                        <div th:if="${attribute}!=null">
                            <input type="hidden"name="id" th:value="${attribute.id}">
                        </div>

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> <span
                                    class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="btn btn-success col-md-7 col-xs-12" type="button" value="Chọn sản phẩm"
                                       th:onclick="|loadPopup('/admin/product/popup')|">
                            </div>

                        </div>
                        <!--<div class="ln_solid"></div>-->
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>