<div class=""xmlns:th="http://www.thymeleaf.org">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h3>Đăng ký Giá sản phẩm</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!--/*@thymesVar id="formData" type="thn.vn.web.miav.shop.models.entity.Product"*/-->
                    <form  class="form-horizontal form-label-left" action="#"
                           th:action="@{/admin/price/new}" method="post">
                        <div class="table-responsive">
                            <table id ="product_table" class="table table-striped jambo_table bulk_action table-bordered">
                                <thead>
                                <tr>
                                    <th class="col-sm-1">ID</th>
                                    <th class="col-sm-4">Name</th>
                                    <th class="col-sm-2">Giá sản phẩm</th>
                                    <th class="col-sm-1">Delete</th>

                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" > <span
                                    class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="btn btn-success col-md-7 col-xs-12" type="button" value="Chọn sản phẩm"  th:onclick="|loadPopup('/admin/product/popup')|">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
</div>
<script>
    function loadPopup(url) {
        var $modal = $('#popup');
        $modal.modal('show');

        $.ajax({
            url: url,
            success: function (result) {
                $("#popup").html(result);
            }

        })

    }
    function selectItem(name, value, type) {
        console.log(name);
        // $('#row_product').append('<tr><td>value</td><td>name</td><td>name</td><td>name</td></tr>');
        var tbody = $('#product_table').find('tbody');
        console.log(tbody);
//Then if no tbody just select your table
        var table = tbody;
        var col_id = '<td>'+value+'</td>';
        var col_name = '<td>'+name+'</td>';
        var col_price = '<td><input class="form-control col-md-7 col-xs-12" name="'+value+'" required="required" type="text" /></td>';
        var col_delete = '<td><button class="btn btn-danger btn-xs" onclick="deleteRow(\''+value+'\')" ><span class="glyphicon glyphicon-trash"></span></button></td>';
//Add row
        tbody.append('<tr id= "'+value+'" >'+col_id+col_name+col_price+col_delete+'</tr>');
    }
    function deleteRow(id) {
     $('#'+id).remove();
    }
</script>