<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <button type="button" class="btn btn-info waves-effect" onclick="location.href='/admin/category/list'">Danh sách</button>
    <button type="button" class="btn btn-info waves-effect" onclick="location.href='/admin/category/new'">Đăng ký mới</button>
    <button type="button" class="btn btn-info waves-effect" onclick="location.href='/admin/category/update'">Chỉnh sửa</button>
    <button type="button" class="btn btn-info waves-effect" onclick="location.href='/admin/category/update'">Đăng ký mới sản phẩm</button>
</div>
</body>
</html>